*{
    margin: 0%;
    padding: 0%;
}
.header{
    display: flex;
    align-items: center;
    justify-content:center ;
    width: 100%;
    padding: 0% 3%;
    box-sizing: border-box;
    gap: 18%;
    font-size: 18px;
}

.header-side{
    display: flex;
    align-items: start;

    padding-top: 35px;
    justify-content: center;
gap: 15%;    
}
.logo{
    width: 43%;
}
.header-side img{
    width: 15%;
}
.header-side span{
    color: rgb(23, 156, 196);
}
.fa-brands{
    font-size: 35px;
    color: rgb(6, 6, 148);
}
.fa-facebook{
    margin-left: 75%;
    

}
.fa-square-twitter{
    color: rgb(40, 196, 193);
    margin-left: 5%;
    margin-bottom: 10px;
}
.nav{
    background-color: rgb(7, 7, 111);
padding: 1% 0% 1%    6%;
margin-bottom: 17vh;



}
.nav a{
    color: white;
    text-transform: capitalize;
    font-size: 21px;
    text-decoration: none;
    /* margin-right: 1%; */
    font-weight: 800;
    padding: .5%;
    margin-left: 1%;
}
.nav a:hover{
    background-color: white;
    color: rgb(7, 7, 111) ;
}
.nav select option{

    color:rgb(6, 6, 83);
    font-size: 17px;
}
.slider-text{
   /* margin: 0 11%; */
   background-color: rgb(11, 11, 75);
    color: white;
    padding:8px 0 ;
}
.slider{
    width: 70%;
    margin: auto;
}
.slider img{
    width: 100%;
}
.slider h1{
margin: 5% 5% 10% 15%;
color:rgb(11, 11, 75) ;
}
.cards
{
    display: flex;
    justify-content: center;
    gap :5%;
margin-bottom: 5%;
flex-wrap: wrap;
}
.card{
    border: 1px solid rgb(179, 175, 175);
    padding: 1%;
    padding-bottom: 2%;
border-radius: 5px;
}
.card a {
    color: rgb(82, 82, 134);
    text-decoration: none;

}
.card h3{
    margin: 5%  0 0 15% ;
}

.scholar{
    font-size: 2vw;
}
.last{
padding-top: 3%;
    background-color:#343a40 ;
width: 100%;
display: flex;
flex-wrap: wrap;
align-items: start;
justify-content: center;
gap: 8%;
padding-bottom: 5%;
}
.last ul li{
    list-style: none;
}
li a {
    color: rgb(149, 146, 146);
    text-decoration: none;
    font-size: 19px;

    text-transform: capitalize;
}
li{
    margin: 5px;

}

li h1{
    color: white;
    margin-bottom: 18px;
}.hii{
    color: rgb(81, 81, 244);
}

li a:hover
{
    color:white;
    text-decoration: underline;
}
.hii:hover
{
    color:white;
    text-decoration: underline;
}
.myself{
    background-color:#343a40 ;
    padding-bottom: 40px;
    font-size: 20px;
    color: white;
    text-align: right;
    padding-right:15% ;

}
.myself a{
    color: wheat;
    
}
.myself a:hover{
    color: red;
}
.middle{
    width: 70%;
    margin: auto;
}
.middle h1{
    color: purple;
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
}
.middle p{
    margin: 6% 0;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(43, 41, 41);
    line-height: 30px;
}
.middle p a{
    color: rgb(75, 178, 219);
    text-decoration: none;
}
.middle p a:hover{
    color: blue;
    text-decoration: underline;
}
.special-list li p{
    color:rgb(50, 142, 212);
    margin: 0;


}
.middle img{
    width: 70vw;
}
.special-list li span{
    color: green;
    margin-left: 8px;
}
.special-list{
    margin: 5% 0%;
}
.middle1{
    font-size: 19px;
}
@media only  screen and (max-width:600px) {
    .header{
flex-wrap: wrap;    }
    .header-side{
        flex-wrap: wrap;
    }
    .logo{
        width: 80%;
    }
}